/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.qheader-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.timer {
    margin-right: 10px;
}

.question-number {
    font-size: 20px;
}

ul{
    list-style-type: disc;
}

.question-container {
    margin-top: 70px; /* Adjust as needed */
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.options-container {
    border: 1px solid #000;
    padding: 10px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.option input[type="radio"] {
    margin-right: 10px;
}

.buttons button {
    margin-right: 10px;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#prev-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#next-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.score-container {
    text-align: center;
    margin-top: 20px;
    display: none;
}

.score-container h1 {
    font-size: 24px;
}

.score {
    font-size: 20px;
    font-weight: bold;
}

/* Add these styles to your existing styles.css file */

.options-container {
    border: 2px solid #000; /* Add border to the options container */
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.option {
    border: 1px solid #ccc; /* Add border to each option */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    padding: 10px;
    cursor: pointer; /* Add pointer cursor for selection */
}

.option:hover {
    background-color: #f9f9f9; /* Add hover effect on options */
}

.option input[type="radio"] {
    margin: 0; /* Remove margin to align radio buttons with options */
}


/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .question-container {
        margin-top: 130px;
    }
}
